body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('solarSystem.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow-y: auto;
  }
  

.zoom-in {
    animation: zoom-in 0.5s forwards;
  }
  
  @keyframes zoom-in {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  .bg-danger {
    background-color: #dc3545e0!important;;
  }
  
  .bg-success {
    background-color: #ffffffd4!important;;
  }

  .zoom-in-out {
    animation: zoom-in-out 1s forwards;
  }
  
  @keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .zoom-effect {
    animation: zoom-effect 2s linear infinite;
  }
  
  @keyframes zoom-effect {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  

/* Style for the table cells in both tables */
#dataContainerTable1 td,
#dataContainerTable1 th,
#dataContainerTable2 td,
#dataContainerTable2 th {
  font-size: 14px; /* Adjust the font size to make it smaller */
  padding: 5px; /* Adjust the padding to reduce cell spacing */
}

.container-smaller {
  max-width: 800px;
  /* Set the maximum width of the container */
  margin: 0 auto;
  /* Center the container horizontally */
  position: fixed;
  /* Position the container */
  bottom: 20px;
  /* Distance from the bottom of the page */
  right: 20px;
  /* Distance from the right side of the page */
  background-color: rgba(0, 0, 0, 0.8);
  /* Optional background color */
  padding: 10px;
  /* Optional padding */
  border-radius: 10px;
  /* Optional border-radius for rounded corners */
  color: white;
  /* Optional text color */
}

/* Style for the smaller table */
#dataContainer {
  font-size: 14px;
}

/* Style for the parent container */
.parent-container {
  position: relative;
}

/* Style for the title above the table */
.table-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.table-container {
  margin-top: 30px;
  margin-left: 50px;
  color: white;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  border: 1px solid rgba(255, 192, 203, 0.7);
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: rgba(255, 192, 203, 0.7);
}

